body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

#container {
  align-items: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#container[data-active-index="0"] > #container-background-pattern {
  background-position: 0% -25%;
}

#container[data-active-index="1"] > #container-background-pattern {
  background-position: 0% -50%;
}

#container[data-active-index="0"] > #container-background-image {
  background-position: center 45%;
}

#container[data-active-index="1"] > #container-background-image {
  background-position: center 50%;
}

br {
  margin: 1em;
  display: block;
}

#blurb {
  backdrop-filter: blur(10px) brightness(60%);
  border-radius: 2em;
  padding: 1em;
  margin: clamp(1rem, 5vw, 25rem) clamp(1rem, 20vw, 50rem) 0
    clamp(1rem, 20vw, 50rem);
  position: relative;
  z-index: 1;
  color: whitesmoke;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

.center {
  margin: auto;
  width: fit-content;
}

#menu-items {
  position: relative;
  z-index: 2;
  text-decoration: underline;
}

#menu-items:hover ~ #container-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover ~ #container-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: rgb(222, 222, 222);
  cursor: pointer;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(2rem, 2vw, 8rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}

#container-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
}

#container-background-image {
  background-image: url("../img/forest.jpg");
  background-position: center 40%;
  background-size: 150vmax;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
}
